services:
  app:
    build: .
    ports:
      - '4000:4000'
    environment:
      - PORT=4000
      - NODE_ENV=production
    env_file:
      - .env
    volumes:
      - ./local.db:/app/local.db
    restart: always
