services:
  app:
    build: .
    ports:
      - '4000:4000'
    environment:
      - PORT=4000
      - NODE_ENV=production
      - DATABASE_URL=file:data/local.db
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: always
